/* ----- Roboto ----- */

@font-face {
    font-family: Roboto-Light;
    src: url(../../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}

/* ----- Product Sans ----- */

@font-face {
    font-family: Product-Sans-Regular;
    src: url(../../fonts/Product-Sans/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: Product-Sans-Bold;
    src: url(../../fonts/Product-Sans/Product\ Sans\ Bold.ttf);
}

/* ----- Google Sans ----- */

@font-face {
    font-family: Google-Sans-Thin;
    src: url(../../fonts/Google-Sans/ProductSans-Thin.ttf);
}

@font-face {
    font-family: Google-Sans-Light;
    src: url(../../fonts/Google-Sans/ProductSans-Light.ttf);
}

@font-face {
    font-family: Google-Sans-Regular;
    src: url(../../fonts/Google-Sans/ProductSans-Regular.ttf);
}

@font-face {
    font-family: Google-Sans-Bold;
    src: url(../../fonts/Google-Sans/ProductSans-Bold.ttf);
}

@font-face {
    font-family: Google-Sans-Medium;
    src: url(../../fonts/Google-Sans/ProductSans-Medium.ttf);
}

/* ----- Font awsome ----- */

@font-face {
    font-family: fa-solid;
    src: url(../../fontawesome/fa-solid-900.ttf);
}

@font-face {
    font-family: fa-regular;
    src: url(../../fontawesome/fa-regular-400.ttf);
}

@font-face {
    font-family: fa-brands;
    src: url(../../fontawesome/fa-brands-400.ttf);
}

.fa-solid::before {
    font-family: fa-solid;
}

.fa-regular::before {
    font-family: fa-regular;
}

.fa-brands::before {
    font-family: fa-brands;
}
