:root {
    --main-bg-color: lightblue;
    --clr0: #ffffff;
    --clr1: #000000;
    --clr2: #202124;
    --clr3: #5f6368;
    --clr4: #f2f2f2;
    --clr5:  rgba(95,99,104,0.157);
    --clr6:  #d3e3fd;
    --clr7:  #f2f6fc;
    --clr8:  #f6f8fc;
    --clr9: #041e49;
    --clr10: #eaf1fb;

}