.mail-preview {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    padding: 10px 20px;
    font-size: 0.9rem;
    background-color: var(--clr0);
    cursor: pointer;
    /* font-family: Google-Sans-Bold, Roboto-Bold, Arial; */
}

.mail-preview .msg-prev {
    padding-right: 20px;
}

.mail-preview.body {
    color: var(--clr3);
}

.mail-preview.read .subject,
.mail-preview.read .from {
    color: var(--clr2);
    font-family: Google-Sans-Regular, Roboto-Regular, Arial;
}

.mail-preview .subject,
.mail-preview .from {
    color: var(--clr2);
    font-family: Google-Sans-Bold, Roboto-Bold, Arial;
}

.mail-preview.read {
    background-color: var(--clr7);
    font-family: Google-Sans-Regular, Roboto-Regular, Arial;
}

.mail-preview .prev-btns {
    width: 80px;
    display: none;
}

.mail-preview:hover .prev-btns {
    display: inline-block;
}

.mail-preview .passed-time {
    font-family: Google-Sans-Regular, Roboto-Regular, Arial;
    font-size: 0.8rem;
    text-align: center;
}

.mail-preview:hover .passed-time {
    display: none;
}

/* fontawesome */

.mail-preview .fa-regular.delete::before {
    content: "\f2ed";
}

.mail-preview .fa-regular.unread::before {
    content: "\f2b6";
}

.mail-preview .fa-regular.read::before {
    content: "\f0e0";
}