.gmail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f8fc;
    padding: 10px 20px;
}

.gmail-header img {
    width: 110px;
}


.gmail-header .fa-solid.hamburger::before {
    content: "\f0c9";
}