.mail-list{
    background-color: var(--clr8);
    height: 100vh;
    padding: 30px;
}

.mail-list .inbox-container{
    background-color: var(--clr0);
    border-radius: 16px;
    padding: 10px 0;
}

.mail-list ul{
    list-style: none;
    padding-inline-start: 0;
}

.mail-list ul li{
    position: relative;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
}

.mail-list ul li:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 2;
}
/* 
.mail-list .fa-solid.compose::before {
    content: "\f303";
}

.compose{
    background-color: #c2e7ff;
    border-radius: 16px;
    color: #001d35;
    height: 56px;
    padding: 0 24px 0 0;
    min-width: 150px;
}

.compose:hover{
    background-color: #c2e7ff;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.mail-list .compose p.text{
    margin-left: 10px;
    display: inline-block;
    font-family: Google-Sans-Regular;
} */