.mail-folder-list {
    background-color: var(--clr8);
    height: 100vh;
}

.mail-folder-list .compose {
    background-color: #c2e7ff;
    border-radius: 16px;
    color: #001d35;
    height: 56px;
    padding: 0 24px 0 0;
    width: 150px;
    margin-left: 10px;
}

.mail-folder-list .compose:hover {
    background-color: #c2e7ff;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.mail-folder-list .compose p.text {
    margin-left: 10px;
    display: inline-block;
    font-family: Google-Sans-Regular;
}

.mail-folder-list .folders {
    margin-top: 20px;
}

.mail-folder-list .folders button {
    border-radius: 0 16px 16px 0;
    display: block;
    width: 100%;
    height: 32px;
    text-align: left;
    padding-left: 30px;
}

.mail-folder-list .folders button:focus {
    background-color: var(--clr6);
    font-family: Google-Sans-Bold;
    color: #001d35;
}

.mail-folder-list .folders button:hover {
    background-color: #eaebef;
}

.mail-folder-list .folders button span {
    margin-right: 10px;
}

.mail-folder-list .folders button:focus-visible {
    outline: none;
}

/* fontawesome */

.mail-folder-list .fa-solid.compose::before {
    content: "\f303";
}

.mail-folder-list .fa-solid.inbox-icon::before {
    content: "\f01c";
}

.mail-folder-list .fa-regular.sent-icon::before {
    content: "\f1d8";
}

.mail-folder-list .fa-regular.trash-icon::before {
    content: "\f2ed";
}

.mail-folder-list .fa-regular.draft-icon::before {
    content: "\f249";
}