/* Setup */

@import './setup/variables.css';
/* @import './setup/fonts.css'; */

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
/* @import './basics/layout.css'; */

/* Views */
@import './views/home.css';

/* @import './apps/note/views/note-app.css'; */

/* @import './apps/mail/views/mail-app.css'; */

/* Cmps */

@import './cmps/user-msg.css';
@import './cmps/app-header.css';

/* @import './apps/mail/cmps/mail-list.css'; */