.mail-index {
    background-color: #f6f8fc;
}

.mail-index-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
        "sidebar    header"
        "sidebar    main-container";
}

.sidebar {
    grid-area: sidebar;
}

.main-container {
    grid-area: main-container;
}

.header {
    grid-area: header;

}