.mail-index{
    height: 100vh;
}

.page-container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: 
    "sidebar main-container"
    ;
}

.sidebar{
    grid-area: sidebar;
}

.main-container{
    grid-area: main-container;
}