.note-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-add input {
    width: 450px;
    height: 44px;
    border: none;
}

.note-add input:focus-visible {
    outline: none;
}

.add-input-container .fa-regular.img::before {
    content: "\f03e";
}

.add-input-container .fa-regular.video::before {
    content: "\f144";
}

.add-input-container .fa-solid.todo::before {
    content: "\f0ca";
}

.add-input-container .fa-solid.txt::before {
    content: "\f031";
}