.note-preview-container {
    border: .5px solid black;
    border-radius: 8px;
    width: 240px;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-preview-container.edit-mode {
    opacity: 0;
}

.note-preview-container img {
    height: auto;
}

.note-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.note-preview-container .fa-solid.pin::before {
    content: "\f08d";
}

.preview-btn .fa-solid.delete::before {
    content: "\f2ed";
}

.preview-btn .fa-solid.duplicat::before {
    content: "\f0c5";
}

.preview-btn .fa-solid.palette::before {
    content: "\f53f";
}

.preview-btn .fa-solid.send::before {
    content: "\f1d8";
}

