.note-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-add input {
    width: 500px;
    height: 44px;
    border: none;
}

.note-add input:focus-visible {
    outline: none;
}