.note-list {
    justify-items: center;
    padding: 15px 0 0;
    list-style: none;
    column-count: 1;
    column-gap: 20px;
    column-fill: balance;
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;
    align-items: center
}

@media (min-width:605px) {
    .note-list {
        column-count: 2;

    }
}
@media (min-width:850px) {
    .note-list {
        column-count: 3;

    }
}

@media (min-width: 1090px) {
    .note-list {
        column-count: 4;

    }
}

@media (min-width: 1360px) {
    .note-list {
        column-count: 5;

    }
}