.user-msg {
    background-color: var(--clr6);
    padding: 2em;
    position: absolute;
    bottom: 1em;
    left: 1em;
    display: flex;
    align-items: center;
}

.user-msg.error {
    color: red;
}

.user-msg button {
    float: left;
    margin: 0;
}